<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_19c89b4e7a174de5a502d3d2911a5b21 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_19c89b4e7a174de5a502d3d2911a5b21" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_19c89b4e7a174de5a502d3d2911a5b21 = L.map(
        'map_19c89b4e7a174de5a502d3d2911a5b21', {
        center: [51.5074, 0.1278],
        zoom: 12,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_cb48efa6fb2f4bb4894de45ba456d4f4 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_19c89b4e7a174de5a502d3d2911a5b21);
    
        var marker_71b315f5f0024823ab9dbff38921a7c2 = L.marker(
            [51.4574, 0.1178],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_19c89b4e7a174de5a502d3d2911a5b21);
        
    
            var popup_62f2b8ede17044c0a8de8adff5f8ca95 = L.popup({maxWidth: '100%'
            
            });

            
                var html_50f166e04d674d98b149ddf0ad1a5b77 = $(`<div id="html_50f166e04d674d98b149ddf0ad1a5b77" style="width: 100.0%; height: 100.0%;"><strong>Location One</strong></div>`)[0];
                popup_62f2b8ede17044c0a8de8adff5f8ca95.setContent(html_50f166e04d674d98b149ddf0ad1a5b77);
            

            marker_71b315f5f0024823ab9dbff38921a7c2.bindPopup(popup_62f2b8ede17044c0a8de8adff5f8ca95)
            ;

            
        
    
        marker_71b315f5f0024823ab9dbff38921a7c2.bindTooltip(
            `<div>`
            + `Click For More Info` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_bd4cb2d95d46487bac6eaefd6c7502f5 = L.marker(
            [51.5374, 0.1218],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_19c89b4e7a174de5a502d3d2911a5b21);
        
    

                var icon_0d02319bf3fa4725b45a0c8d4d4ba3b9 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bd4cb2d95d46487bac6eaefd6c7502f5.setIcon(icon_0d02319bf3fa4725b45a0c8d4d4ba3b9);
            
    
            var popup_7bcecfaddfed4aa394d0064fd85373b4 = L.popup({maxWidth: '100%'
            
            });

            
                var html_d018237cb0c646d982c64af9980d0b53 = $(`<div id="html_d018237cb0c646d982c64af9980d0b53" style="width: 100.0%; height: 100.0%;"><strong>Location Two</strong></div>`)[0];
                popup_7bcecfaddfed4aa394d0064fd85373b4.setContent(html_d018237cb0c646d982c64af9980d0b53);
            

            marker_bd4cb2d95d46487bac6eaefd6c7502f5.bindPopup(popup_7bcecfaddfed4aa394d0064fd85373b4)
            ;

            
        
    
        marker_bd4cb2d95d46487bac6eaefd6c7502f5.bindTooltip(
            `<div>`
            + `Click For More Info` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_fc93017019714c4e8636f20382b3ba0c = L.marker(
            [51.5073, 0.1378],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_19c89b4e7a174de5a502d3d2911a5b21);
        
    

                var icon_113886568f3e4016a9a0fa946ce42fc7 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fc93017019714c4e8636f20382b3ba0c.setIcon(icon_113886568f3e4016a9a0fa946ce42fc7);
            
    
            var popup_a90d40213c154482843db4435e58cd77 = L.popup({maxWidth: '100%'
            
            });

            
                var html_01ff766bc81a4144bbf82fb5a9a6a2fd = $(`<div id="html_01ff766bc81a4144bbf82fb5a9a6a2fd" style="width: 100.0%; height: 100.0%;"><strong>Location Three</strong></div>`)[0];
                popup_a90d40213c154482843db4435e58cd77.setContent(html_01ff766bc81a4144bbf82fb5a9a6a2fd);
            

            marker_fc93017019714c4e8636f20382b3ba0c.bindPopup(popup_a90d40213c154482843db4435e58cd77)
            ;

            
        
    
        marker_fc93017019714c4e8636f20382b3ba0c.bindTooltip(
            `<div>`
            + `Click For More Info` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_b5d4a732b9fb4b87a5430099071f7382 = L.marker(
            [42.37514, -71.03245],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_19c89b4e7a174de5a502d3d2911a5b21);
        
    

                var icon_90807d4156eb4d36b0816ffa43e08515 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b5d4a732b9fb4b87a5430099071f7382.setIcon(icon_90807d4156eb4d36b0816ffa43e08515);
            
    
            var popup_9f0a1e4ec1f44113973dabbcfbcb842c = L.popup({maxWidth: '100%'
            
            });

            
                var html_42074e0e53584bcea43cd767dfc4752b = $(`<div id="html_42074e0e53584bcea43cd767dfc4752b" style="width: 100.0%; height: 100.0%;"><strong>Location Five</strong></div>`)[0];
                popup_9f0a1e4ec1f44113973dabbcfbcb842c.setContent(html_42074e0e53584bcea43cd767dfc4752b);
            

            marker_b5d4a732b9fb4b87a5430099071f7382.bindPopup(popup_9f0a1e4ec1f44113973dabbcfbcb842c)
            ;

            
        
    
        marker_b5d4a732b9fb4b87a5430099071f7382.bindTooltip(
            `<div>`
            + `Click For More Info` + `</div>`,
            {"sticky": true}
        );
        
</script>